html,
body {
  --color-1: #a8e6cf;
  --color-2: #dcedc1;
  --color-3: #ffd3b6;
  --color-4: #ffaaa5;
  --color-5: #ff8b94;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 50px;
  background-image: linear-gradient(135deg, var(--color-1), var(--color-2));
  font-family: 'Roboto', sans-serif;

  color: black;
}

h1 {
  margin: auto;
  text-align: center;
  padding-bottom: 40px;
}

.main-container {
  display: flex;
  justify-content: space-evenly;
}

.scoreboard-container,
.container,
.total-score {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  background-color: white;
  box-shadow: -2px 6px 18px 3px rgba(0, 0, 0, 0.75);
  padding: 50px;
}

.total-score__title {
  font-size: 50px;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 100%;
}

.players {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.dice {
  border-radius: 10px;
  width: 100px;
  height: 100px;
  background-color: var(--color-3);
  margin: 0 auto;
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#rollBtn {
  background-color: var(--color-5);
}

#resetBtn {
  background-color: var(--color-4);
}

button:focus {
  outline: none;
}

#resetBtn {
  display: none;
  background-color: ;
}

#rollBtn {
  display: block;
}

#setGamesBtn {
  margin-left: 10px;
  padding: 10px 15px;
  margin-top: 10px;
  background-color: firebrick;
}

.active {
  box-shadow: -2px 6px 18px 3px rgba(0, 0, 0, 0.75);
}
button {
  color: #fff;
  padding: 20px 30px;
  font-size: 20px;
  margin: 50px auto 0px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  box-shadow: -2px 6px 18px 3px rgba(0, 0, 0, 0.75);
}

#game {
  display: none;
}

@media only screen and (max-width: 800px) {
  .main-container {
    flex-direction: column;
    margin: 10px;
  }
  .total-score__title {
    font-size: 30px;
  }

  .body {
    width: 100%;
  }

  .scoreboard-container,
  .container,
  .total-score {
    padding: 10px 0;
    margin: 2px 0;
    width: 100%;
    text-align: center;
  }

  .total-score {
    padding-top: 0;
    padding-bottom: 0;
  }

  h1 {
    padding: 0;
  }
}
