/* Colors 

    262626,4cb944,f1f5f2,48acf0,e63946
*/

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'lato', sans-serif;
  text-align: center;
  margin: auto;
}

/*  Typography */

/* Header */
#logo {
  font-family: 'Black Ops One', cursive;
  font-weight: 400;
  font-size: 45px;
  letter-spacing: 20px;
}

h2 {
  font-size: 40px;
  padding: 20px;
}

nav {
  background-color: #48acf0;
  padding: 25px 5%;
}

p {
  padding: 1rem 0;
}

.nav__links a {
}

/* Main */

.project__title {
  border-bottom: 1px black solid;
  padding: 10px 0;
}
/* Layout */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  width: 50%;
  margin: auto;
  background-color: #fff;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.project__card {
  border: 1px solid black;
  max-width: 300px;
  margin: 20px auto;
}

.image-link {
}

.image__link img {
  max-width: 100%;
}

/* Buttons */

.btn {
  background-color: firebrick;
  text-decoration: none;
  color: white;
  padding: 10px 22px;
  margin: 0 5px;
  border-radius: 25px;
}
