* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

h1 {
  font-family: 'Lora', serif;
  font-size: 3.375rem;
}

.subtitle {
  font-size: 1rem;
  text-transform: capitalize;

  color: #1792d2;
}

.nav-link {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  margin: 0 1em;
  letter-spacing: 0.2rem;
  padding: 0.3em;
}

.nav-link::after {
  content: ' ';
  /* Set the parent to reletive */
  position: absolute;
  /* Position of the element reletive to the parent */
  bottom: 0;
  left: 0;
  /* Size */
  width: 5px;
  height: 100%;
  background-color: #1792d2;
  transition: all 0.4s;
  z-index: -1;
}

.nav-link:hover::after {
  left: 0;
  width: 100%;
}

.nav-link:hover {
  color: #fff;
}

/* Layout */

header {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.site-title {
  margin: 2em;
}

@keyframes navHover {
  from {
  }
  to {
    border: 1px solid #143774;
  }
}
